:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);

    transition: background-color .4s ease-in-out .6s;
}


#eromheen {
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    border: 0px none;
    padding: 30px;

}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    top: -20px;
    transform-origin: left top;
    transition: transform .5s ease-in .3s;
}

#menu::after {
    top: 20px;
    transform-origin: left bottom;
    transition: transform .5s ease-in .3s;
}

#eromheen:hover > div {
    background-color: transparent;
}

#eromheen:hover > div::after {
    transform: rotate(-45deg);
}

#eromheen:hover > div::before {
    transform: rotate(45deg);
}